/* utility setpu */

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #363958;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

p {
    /* line-height: 1.3em; */
}

.orange {
    color: #FA804C;
}

.bg-color {
    background-color: #FFF9F4 !important;
}

.light-gray {
    background-color: #F1F1F1 !important;
}

.shoes-img {
    height: 250px;
}

.custom-btn {
    background: #3A4ADD;
    color: #fff;
}

.price {
    font-weight: bold;
    font-size: 25px;
}

a {
    display: inline-block;
}


/* casual-shoes section */

.casual-shoes img,
.formal-shoes img {
    text-align: center;
    width: 200px;
    padding: 15px 20px;
    transition: .5s ease-in-out;
}

.casual-shoe-card img:hover,
.formal-shoe-card img:hover {
    transform: scale(1.1);
}


/* Service section */

.service-card img {
    width: 60px;
    margin-right: 20px;
}

.service-card {
    border-radius: 8px !important;
    padding: 1em;
}

nav .logo {
    margin-right: 40%;
}

.nav-item {
    padding: 10px;
}

.nav-item a {
    color: #363958 !important;
    font-size: 1em;
    font-weight: 600;
}

nav img {
    width: 230px;
}

.banner img {
    width: 80%;
}

.banner {
    height: 100vh;
    /* text-align: center; */
}


/* Responsive For mobile*/

@media (max-width: 768px) {
    .service-card img {
        margin-right: 30px;
    }
    nav img {
        width: 200px;
    }
    nav .logo {
        margin-right: 0;
    }
    .banner-inner-section {
        flex-direction: column-reverse;
        padding: 20px 30px;
        align-items: center;
        justify-content: center;
        /* height: 100vh; */
        /* text-align: center; */
    }
    .banner-inner-section img {
        /* width: 300px; */
        text-align: center;
    }
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .banner {
        padding-top: 60px;
    }
}